:root {
  font-size: 16px;
  --grey: #6d6d6d;
}

html {
  background-color: white;
  margin: 0;
  padding: 0;
}
p {
  color: var(--grey);
  font-size: 0.9rem;
}

.main-container {
  padding-top: 86px;
  height: calc(100vh - 86px);
}

.search-result-container {
  padding-top: 86px;
}

@media screen and (max-width: 600px) {
  .main-container {
    padding-top: 100px;
  }
}
.result-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
}

.rc-pagination {
  font-size: 18px !important;
}
.rc-pagination-item,
.rc-pagination-next,
.rc-pagination-prev {
  box-shadow: 0px 3px 5px 0px #ccc;
}
.card-bottom-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
